:root{
    --Laranja : hsl(25, 97%, 53%);
    --Branco: hsl(0, 0%, 100%);
    --Cinza-Claro: hsl(217, 12%, 63%);
    --Cinza-Medio:hsl(216, 12%, 54%);
    --Azul-Escuro: hsl(216, 12%, 8%);
    --Azul-Escuro-2: hsl(213, 19%, 18%);
}

.container-thankyou2{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-thankyou{
    width: 80%;
    height: 90%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

figure{
    width: 200px;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}

.spanContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 6%;
    border-radius: 1rem;
    background-color:#262f38;
}

.spanContainer p{
    min-width: 0.5rem;
    text-align: center;
    color:var(--Laranja) ;
}

.textosThankYou{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textosThankYou h1{
    text-align: center;
    color:var(--Branco);
    margin-bottom: 1rem;
}

.textosThankYou p{
    width: 100%;
    text-align: center;
    color: var(--Cinza-Medio);
}

